
    .demo{
color: rgb(205, 205, 222);
font-size: 40px;
font-family:  cursive;
background-color: blueviolet;
 border: 20px solid  black;
margin-bottom: 90;
margin-left: 90;
margin-right: 90;
 padding-left : 200px;

    }